body{
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container
{
    text-align: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
}
h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.quotes{
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border-left: 4px solid blue; 
    font-style: italic;

}
button{
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}