*{
    margin: 0;
    padding: 0;;
}
header{
    width: 100%;
}
.logo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(215, 45, 46);
    padding: 2rem;
    align-items: baseline;
}
h1{
    color: white;
    padding-top: .4rem;

}
.right button{
    font-size: 1.3rem;
    margin: 5px;
    max-width: 50%;
    background-color: rgb(215, 45, 46);
    border-color: rgb(215, 45, 46);
    color: white;
    border: none;
    padding-top: .4rem;
    cursor:pointer;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    background-color:gainsboro;
    padding:2rem 0rem;
}
.search > input{
    width: 400px;
    max-width: 50%;
    font-size: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    flex-grow: 1;

}

.search > button{
    margin-left: .5rem;
    font-size: 1.3rem;
    white-space: nowrap;
    background-color: rgb(228, 58, 58);
    color: white;
    border-radius: 10px;
    padding: .2rem;
    cursor: pointer;
} 
.search > button:hover{
    background-color: white;
    color: black;
}